

.jumbotron {
  background-color: #FA8132 ; /* Orange */
  color: #ffffff;
  font: 
}
body {
    display: flex;
    flex-direction: column;
    background-image: url('./cards/background.jpg');
}
.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.cards {
    margin: 10px;
    box-shadow: 5px 5px 10px rgb(88, 86, 86);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-cover {
    width: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #0077F7;
    color: white;
}
.card-title{
    padding: 5% 5% 5% 5%;
    width: 100%;
    margin: 0%;
    background-color: #FA8132;
}
.list-group {
    background-color: rgb(245, 245, 245);
    padding: 15% 8% 15% 8%;
}
.list-group-item p{
    margin: 0%;
    border: 1px solid rgb(187, 187, 187);
    padding: 5% 10% 5% 10%;
    background-color: white;
}
#borderBot {
    border-bottom: none;
}