

.jumbotron {
    display: flex;
    flex-direction: column;
  background-color: #FA8132 ; /* Orange */
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body {
    
    background-image: url('/Users/wendywilgus/git/wendywilgus/Team Profile Generator/src/background.jpg');
}
.row {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-between;

    
}
.cards {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 5px 5px 10px rgb(88, 86, 86, 0.8);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-cover {
    width: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #0077F7;
    color: white;
}
.card-title{
    padding: 5% 5% 5% 5%;
    width: 100%;
    margin: 0%;
    background-color: #FA8132;
}
.list-group {
    background-color: rgb(245, 245, 245);
    padding: 15% 8% 15% 8%;
}
.list-group-item p{
    margin: 0%;
    border: 1px solid rgb(187, 187, 187);
    padding: 5% 10% 5% 10%;
    background-color: white;
}